.direction {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #8c1c13 calc(40px + 16px), #735751 calc(40px + 16px), #735751 100%)
}

.direction .step-number {
    width: 30px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.direction .text {
    grid-column: 2/17;
    height: 100%;
}

.direction .text textarea {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    color: #fff;
    padding: 5px;
}