body {
    background-color: #fff;
    color: #000 !important;
    margin: 20px;
    animation: none !important;
}

header,
button,
footer,
.details-actions-top,
.author,
.details-body > div.d-flex {
    display: none !important;
}

.details-page {
    max-width: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: none;
    box-shadow: none;
}

.direction, .list-group-item {
    border: 1px solid black !important;
    background: none !important;
    color: #000 !important;
}

table.table, table.table thead, table.table tbody, table.table th, table.table td, table.table tr:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

table.table {
    border-radius: 0;
    box-shadow: none;
}

table.table td {
    border-bottom: 1px solid #000;
}

table a {
    color: #000;
}

@media print {
    body {
        margin: 0;
    }

    #back-link {
        display: none;
    }
}