@media print {
    body {
        background-color: #fff;
        color: black;
    }

    header,
    button,
    footer,
    .details-actions-top,
    .author,
    .details-body > div.d-flex {
        display: none !important;
    }

    .details-page {
        max-width: none;
        margin: 0;
        padding: 0;
        background-color: white;
        border: none;
        box-shadow: none;
    }
}