@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="identity-page manage-page">
    <div class="identity-container">
        <h1>@ViewData["Title"]</h1>

        <div class="alert alert-brown text-center" role="alert" data-persist="true">
            <p>
                <strong>Use this form to securely update your password.</strong>
                Make sure your new password is strong (contains letters, numbers, and symbols) and isn't used elsewhere.
            </p>
        </div>

        <partial name="_StatusMessage" for="StatusMessage" />

        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your current password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Update Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}