@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="identity-page manage-page">
    <div class="identity-container">
        <h1>@ViewData["Title"]</h1>

        <div class="alert alert-brown text-center" role="alert" data-persist="true">
            <p>
                <strong>Manage your account's email address.</strong>
                You can view your current email, verify it, or update it to a new address.
            </p>
        </div>

        <partial name="_StatusMessage" for="StatusMessage" />

        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>

            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="Your current email." disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">Email Verified ✓</span>
                    </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Your current email." disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="w-100 btn btn-lg btn-primary mt-1 mb-5">
                        Send verification email
                    </button>
                </div>
            }

            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" aria-required="true" placeholder="Enter your new email address." />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary mt-3">
                Update Email
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}