@model Recipebook.Models.Ingredient

@{
    ViewData["Title"] = "Add Ingredient";
}

<h2>Add Ingredient</h2>

<form asp-action="AddIngredient" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>


