@model Recipebook.Models.ViewModels.RecipeCreateEditVm

@{
    ViewData["Title"] = "Edit";
    Model.UpdateButtonText = "Update";
}

<div class="recipe-form-page">
    <h1>Edit Recipe</h1>
    @await Html.PartialAsync("_RecipeForm")
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @* we define the indexes here since you can't access the model in external JS files *@
    <script>
            let ingredientIndex = @Model.Ingredients.Count;
            let directionIndex = @Model.Recipe.DirectionsList.Count;
    </script>
    <script src="/js/recipe.js"></script>
    <script src="/js/ingredientsHandler.js"></script>
    <script src="/js/directionsHandler.js"></script>
}
