@model Recipebook.Models.ViewModels.RecipeCreateEditVm

@{
    ViewData["Title"] = "Edit";
}

<div class="recipe-form-page">
    @if (Model.IsCopy)
    {
        Model.UpdateButtonText = "Create Copy";
        <h1>Copy Recipe</h1>
    }
    else
    {
        Model.UpdateButtonText = "Update";
        <h1>Edit Recipe</h1>
    }
    @* Reuse the shared form partial; it keys off UpdateButtonText to choose action. *@
    @await Html.PartialAsync("_RecipeForm")
</div>

@section Scripts {
    @* Standard MVC client-side validation scripts. *@
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @* we define the indexes here since you can't access the model in external JS files *@
    <script>
            let ingredientIndex = @Model.Ingredients.Count;
            let directionIndex = @Model.Recipe.DirectionsList.Count;
    </script>
    <script src="/js/recipe.js"></script>
    <script src="/js/ingredientsHandler.js"></script>
    <script src="/js/directionsHandler.js"></script>
    <script src="/js/categoriesHandler.js"></script>
}
