@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Your Password?";
}

<div class="identity-page">
    <div class="identity-container">
        <h1>@ViewData["Title"]</h1>

        <div class="alert alert-brown text-center" role="alert" data-persist="true">
            <p class="mb-0">
                Enter your registered email address below and we’ll send you a link to reset it securely.
            </p>
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

            <div class="form-floating mb-3 text-start">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary mt-2">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}