@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="identity-page">
    <div class="identity-container">
        <h1>@ViewData["Title"]</h1>

        <div class="alert alert-brown text-center" role="alert" data-persist="true">
            <p class="mb-0">
                Please check your email to confirm your account.
            </p>
        </div>

        <div class="mt-4">
            <a asp-page="/Account/Login" class="w-100 btn btn-lg btn-primary">
                Return to Login
            </a>
        </div>
    </div>
</div>