@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
}

<div class="d-flex flex-column align-items-center justify-content-center text-center mt-2">
    <div class="w-100" style="max-width: 500px;">
        <h3 class="mb-4">@ViewData["Title"]</h3>

        <div class="alert alert-brown" role="alert" data-persist="true">
            <p class="mb-0">
                <strong>Didn’t receive your verification email?</strong><br />
                Enter your registered email address below to resend your account confirmation link.
            </p>
        </div>

        <form method="post" class="mt-4">
            <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3 text-start">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend Confirmation Email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}